body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body header, footer
{
    background-color: #f5d349;
}
body>section>h1
{
    background-color: #f5d349;
}
.site-title
{
    color: rgb(255, 255, 255);
}
#my-image
{
    box-shadow: 0px 0px 2px 1px black;
}
body article ul
{
    list-style: square;
}
li:nth-child(odd)
{
    background-color: #ffec9f;
}
nav a
{
    border: 2px solid black;
    color: black;
    font-size: 25px;
    text-decoration: none;
    background-color: #f5d349;

}
nav a:hover
{
    background-color: black;
    color: #f5d349;
}