html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------
This is where the CSS designing will start. This is just a break between RESET CSS and actual CSS 
----------------------------------------------------------------------------------------------------*/

/* Smooth scrolling for in page links in the page */
html {
    scroll-behavior: smooth;
}

/* body properties */
body {
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    color:  rgb(105, 131, 169);
    background-color: rgb(31, 32, 52);
}
/* Adding colour to centre section */

 main {
    background-color: rgb(18, 17, 37);
 }

 /* Heading and header image */
h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: center;
    background-image: url(/midterm/images/header-bg-wikipedia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2% 20%;
    padding: 10%;
    color: #ffffff;

}

h2 {
    font-size: 25px;
    color: rgb(232, 81, 81);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* padding for article */
article {
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 30px;
}

/* Wrap text around image, keeping image source below it. */

figure {
    float: left;
    margin-bottom: 1.5%;
}

/* image responsiveness */
img {
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
}
/* image caption styling */
figcaption {
    font-style: italic;
    font-size: small;
}
/* all paragraph styling */
p {
    line-height: 1.5;
    font-size: 18px;
}


h3 {
    color: rgb(232, 81, 81);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 0.5%;
    text-transform: uppercase;
}

/* facts styling */
article ul li {
    list-style: circle;
    list-style-position: inside;
    line-height: 1.5;
    padding-left: 1%;
    padding-right: 20%;
    font-size: 18px;
}
/* padding for form section */
aside {
    padding-left: 25px;
    padding-right: 25px;;
}
h4 {
    color: rgb(232, 81, 81);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 3%;
}

/* border and padding for form */
.inputform {
    border: dotted 1px rgb(149, 187, 243);
    padding: 20px;
    border-radius: 10px;
}

form div label {
    font-size: 20px;
}
/* Radio button properties */
#yes {
    width:  20px;
    height: 20px;
    accent-color: rgb(232, 81, 81);
}
#no {
    width:  20px;
    height: 20px;
    accent-color: rgb(232, 81, 81);
}

#maybe {
    width:  20px;
    height: 20px;
    accent-color: rgb(232, 81, 81);
}

/* Submit button properties */
form div button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(18, 17, 37);
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

form div button:hover {
    background-color: rgb(232, 81, 81);
    color: rgb(255, 255, 255);

}

div h5 {
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: 600;
    color: rgb(232, 81, 81);
}
/* input boxes styling */
input {
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

textarea {
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation styling */
nav ul a {
    display: block;
    padding: 20px;
    text-align: center;
    color: rgb(232, 81, 81);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

nav ul {
    background-color: rgb(18, 17, 37);
    border: 1px solid;
}

nav ul li {
    max-width: 32%;
    width: 100%;
    display: inline-block;
    border-right: 1px rgb(105, 131, 169) solid;
}

nav ul li:nth-child(3) {
    border-right: none;
}

nav ul a:hover {
    color: rgb(255, 255, 255);
}

/* Change footer styling */
footer {
    text-align: right;
    padding: 30px;
}

/* References styling */
.refs {
    line-height: 25px;
    font-style: italic;
}

.refslistlink {
    color: rgb(149, 187, 243);
    text-decoration: none;
}

.refslistlink:hover {
    color: #ffffff;
}