/* Smooth scrolling for in page links in the page */
html {
    scroll-behavior: smooth;
}
/* 
This is for media query desktop:
nav ul {
    display: flex;
}
*/

/* Basic Header properties */
header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Ensuring all containers have following properties */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Styling the nav section */
.navlist a,
.navlist a:link {
    display: block;
    text-decoration: none;
    padding: 1em 0;
    color: #c78c06;
}

.navlist a:visited {
    display: block;
    text-decoration: none;
    padding: 1em 0;
    color: #c78c06;
}

.navlist {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    color: #c78c06;
}

.navlist {
    text-align: center;
    background-color: #222;
    padding: 1em;
}

.navlist a:hover,
.navlist a:focus,
.navlist a.current {
    background-color: #c78c06;
    color: #222;
}

/* Logo left */
.navlist li:nth-child(1) {
    background-color: #c78c06;
    text-align: left;
}

/* Search bar and button end to end */
.searchinput{
    width: 93%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchbutton {
    padding: 10px;
    color:#c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    margin-left: 0;
}

.searchbutton:hover {
    background-color: #c78c06;
    color: #222;
}

.welcomebanner {
    background-image: url(/final-project/images/main-banner.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2% 20%;
    padding: 10%;
}

.welcome {
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

/* Common heading properties */
/* ----------------------------------- */
h1 {
    font-size: 4em;
    line-height: 1.2em;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;

}


h2 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 10px;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 10px;

}

h4 {
    font-size: 1em;
    font-weight: 600;
}
/* ---------------------------------- */
/* End of common heading properties */

.welcome p {
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.connect {
    background-color: #c78c06;
    border: none;
    padding: 20px;
}

.connect:hover {
    background-color: #222;
    color: #c78c06;
}
.fontopensans {
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}

.aboutus {
    background-color:#ffe6ac;
    padding: 20px;

}

.aboutus img {
    display: block;
    width: 100%;
}

#abouttext {
    line-height: normal;
}

#abouttext p {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Our Services styling */

#services {
    line-height: normal;
}

#services h2 {
    margin: 20px;
}

.card {
    background-color: #ffe6ac;
    margin: 20px;
}

.cardtext {
    padding: 20px;
}
.card img {
    width: 100%;
}

/* Styling all services buttons */

.servicebutton {
    padding: 20px;
    margin-top: 10px;
    color: white;
    background-color: #222;
    border: none;
    font-size: 1em;
    font-weight: 400;
}

.servicebutton:hover,
.servicebutton:focus {
    color: #222;
    background-color: white;
}

/* Styling the Vision section */
.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2% 20%;
    color: white;
    padding: 20px;
}

.learn {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #222;
    border: 1px solid #c78c06;
    font-size: 1em;
    font-weight: 400;

}

.learn:hover {
    color: #222;
    background-color: #c78c06;
}

/* Styling Our Team section */

.teamcard {
    background-color: #ffe6ac;
    margin: 20px;
}

.teamtext {
    padding: 20px;
}

.teamcard img {
    width: 100%;
}

#team h2 {
    margin: 20px;
}

.teamtext hr {
    border: 1px solid #c78c06
}

/* Styling for Contact Us section */

#contact {
    margin: 20px;
}